@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    position: relative;
    color: black;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    transition: color 0.3s ease-in-out;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: 0;
    left: 50%;
    background-color: #3E4095;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
}

.nav-link-active {
    position: relative;
    padding: 0.5rem 0.2rem;
    border-bottom: 3px solid #3E4095;
}

.nav-link-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: white;
}

.hero-section {
    position: relative;
  }
  
  .hero-section h1:hover ~ .background-image {
    filter: blur(5px);
  }

  @keyframes moveBackground {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-bg-image {
    animation: moveBackground 10s ease infinite;
  }
  
  @keyframes spinX {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(360deg);
    }
  }
  
  .spin-x {
    animation: spinX 2s linear infinite;
  }
  
.text-border {
  text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
}
.text-border-bottom {
  position: relative;
  display: inline-block;
}

.text-border-bottom {
  position: relative;
  display: inline-block;
}

.text-border-bottom::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 30%;
  height: 3px; /* Adjust the height as needed */
  background: linear-gradient(to right, transparent, #73D1FF, transparent); /* Adjust the gradient colors as needed */
}

@keyframes bounceMedium {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.gradient-text {
  background: linear-gradient(to top, transparent, #73D1FF, transparent);
  -webkit-background-clip: text;
  color: transparent;
}

.bounceMedium {
  animation: bounceMedium 3s infinite;
}

@keyframes slow-ping {
  0% {
      transform: scale(1);
      /* opacity: 1; */
  }
  50% {
    transform: scale(1.2);
    /* opacity: 0; */
  }
  100% {
    transform: scale(1);
    /* opacity: 0; */
}
}

.animate-slow-ping {
  animation: slow-ping 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes wave {
  0% { transform: rotate(0deg) translateY(0); }
  20% { transform: rotate(4deg) translateY(-3px); }
  40% { transform: rotate(-2deg) translateY(3px); }
  60% { transform: rotate(2deg) translateY(-3px); }
  80% { transform: rotate(-4deg) translateY(3px); }
  100% { transform: rotate(0deg) translateY(0); }
}

.waving span {
  display: inline-block;
  animation: wave 3s infinite;
  transform-origin: bottom left;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave2 {
  0% { transform:  translateY(0); }
  20% { transform:  translateY(-3px); }
  40% { transform:  translateY(3px); }
  60% { transform:  translateY(-3px); }
  80% { transform:  translateY(3px); }
  100% { transform:  translateY(0); }
}

.waving2 span {
  display: inline-block;
  animation: wave2 3s infinite;
  transform-origin: bottom top;
  animation-delay: calc(0.1s * var(--i));
}

.curved-border {
  clip-path: ellipse(100% 100% at 100% 100%);
  border: 4px solid #005AB3;
}
.border-custom-shape {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.border-custom-shape::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  z-index: -1;
  transform: rotate(5deg);
}
.clip-custom-border {
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  border: 4px solid gray;
}
/* button {
  background: linear-gradient(to right, #070F4E, #5AB3E8,#070F4E);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: linear-gradient(to right,#070F4E, #5AB3E8, #070F4E);
  transform: scale(1.05);
} */
/* .bg-yellow-300 {
  background: linear-gradient(to right, #F0F4FA, #ffffff); 
} */


/* button {
  background: linear-gradient(to right, #070F4E, #2C79E8);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: linear-gradient(to right, #2C79E8, #070F4E);
  transform: scale(1.05);
}
.card-container {
  border: 2px solid #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.bg-yellow-300 {
  background: linear-gradient(to right, #ffefba, #ffffff);
}
.icon-animation {
  transition: transform 0.3s ease;
}
.icon-animation:hover {
  transform: rotate(20deg) scale(1.1);
}
.title-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #070F4E;
  text-transform: uppercase;
  letter-spacing: 1.2px;
} */


